.Home > .MuiBox-root .custom-tab{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Home > .MuiBox-root .custom-tab{
    height: 100%;
    overflow: auto;
}

.Home .header-container{
    display: flex;
    flex-direction: revert;
    align-items: center;
    justify-content: center;
}