.Home{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    justify-content: center;
}
.Home > .MuiBox-root{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}
.Home > .MuiBox-root > .MuiBox-root{
    display: flex;
    flex-direction: column;
    flex-direction: row;
}