.Settings {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.Settings > div {
    display: flex;
    flex-direction: column;
}